<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Macros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% macro destroy_button(path) %}
        <form method="post" action="{{path}}" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
        {% endmacro %}
    </body>
</html>
