{% extends "base.html" %}
{% block content %}
<table class="table table-bordered table-striped">
    <thead>
      <tr>
          {% if opiskelija.yllapitaja %}
          <th>Ylläpitäjä {{opiskelija.nimi}}</th>
          {% else %}
        <th>{{opiskelija.nimi}}</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
	{% for tapahtuma in tapahtumat %}
      <tr>
        <td>{{tapahtuma.pvm}}</td>
        <td>{{tapahtuma.maara}}</td>
	<td>{{tapahtuma.kuvaus}}</td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
{% endblock %}
