{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<p>Kaikkien tilitapahtumat.</p>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Opiskelija id</th>
            <th>Päivämäärä</th>
            <th>Määrä</th>
            <th>Kuvaus</th>
        </tr>
    </thead>
    <tbody>
        {% for tapahtuma in tapahtumat %}
        <tr>
            <td><a href="{{base_path}}/opiskelijat/{{tapahtuma.opiskelija_id}}">{{tapahtuma.opiskelija_id}}</td>
            <td>{{tapahtuma.pvm}}</td>
            <td>{{tapahtuma.maara}}</td>
            <td>{{tapahtuma.kuvaus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
