{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Opiskelijan kaikki tapahtumat</h1>

<a class="btn btn-primary" href="{{base_path}}/tapahtumat/new">Luo uusi tapahtuma</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Päivämäärä</th>
            <th>Määrä</th>
            <th>Kuvaus</th>
            <th>Kategoriat</th>
        </tr>
    </thead>
    <tbody>
        {% for indeksi in tjak %}
        <tr>
            <td>{{indeksi.tapahtuma.pvm}}</td>
            <td>{{indeksi.tapahtuma.maara}}</td>
            <td>{{indeksi.tapahtuma.kuvaus}}</td>
            <td>
                {% for kategoria in indeksi.kategoriat %}
                 <a class="btn btn-default btn-sm" href="{{base_path}}/kategoria/{{kategoria.id}}">{{kategoria.nimi}}
                {% endfor %}
            </td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/tapahtumat/{{indeksi.tapahtuma.id}}/edit">Muokkaa</td>
            <td>{{forms.destroy_button("#{base_path}/tapahtumat/#{indeksi.tapahtuma.id}/destroy")}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
