{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{kategoria}}</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<button class="btn btn-primary">Valitse aikajakso(broken)</button>

<table class="table table-bordered table-striped">
    <tbody>
        {% for tapahtuma in tapahtumat %}
        <tr>
            <td>{{tapahtuma.pvm}}</td>
            <td>{{tapahtuma.maara}}</td>
            <td>{{tapahtuma.kuvaus}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
