{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<a class="btn btn-primary" href="{{base_path}}/kategoria/new">Luo uusi kategoria</a>

<table class="table table-bordered table-striped">
    <tbody>
        {% for kategoria in kategoriat %}
        <tr>
            <td>{{kategoria.nimi}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/kategoria/{{kategoria.id}}/edit">Muokkaa</td>
            <td>{{forms.destroy_button("#{base_path}/kategoria/#{kategoria.id}/destroy")}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
